.searchButton {

    border-radius: 13px;
    width: 120px;
    border-color: green;
    border-style: solid;
    color: green;
    font-weight: bold;

}

#plus {

    border-radius: 50%;
    color: white;
    background-color: green;
    border-color: green;
    border-style: solid;
    
}

.create {

    color: white;
    width: 150px;
    height: 30px;
    background-color: blue;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 5px  black;

}