h1 {
    text-align: center;
}

.firstBlock {
    background-color: lightblue;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
    width: 40%;
    margin-left: 30%;

}

.threeImages {
    height: 300px;
    margin: 10px;
}

.secondBlock {
    background-color: rgba(119, 119, 0, 0.411);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
    width: 40%;
    margin-left: 30%;

}

.thirdBlock {
    background-color: rgb(121, 58, 58);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
    width: 40%;
    margin-left: 30%;

}

.bottomtext {
    text-align: center;
}