#MyCloud {

    background-color: black;

}

#My {

    color: white;

}

#cloud {

    color: aqua;

}

#CompletedProjects {

    background-color: purple;

}

.projects {

    color: white;
    text-align: center;

}

#ContactUs {

    background-color: skyblue;

}

.contact {

    text-align: right;
    text-un
}